/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
  height: 100vh;
  font-family: "Bree Serif", serif;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#testoAlternato {
  width: 50%;
  padding: 35px;
  border: 2px solid black;
  font-size: 2rem;
}


#testoAlternato .parole {
  color: #6c889c;
  position: relative;
  display: inline-block;
  bottom: -10px;
  width: 35%;
  height: 40px;
}

#testoAlternato .parole i {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#testoAlternato .parole i.mostra {
  opacity: 1;
  transform: translateY(0);
}